@import url( "https://necolas.github.io/normalize.css/8.0.1/normalize.css" );
@import url( "https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css" );

@font-face {
    font-family: 'capriola-regular-webfont';
    src: url( '../fonts/capriola-regular-webfont.woff2' ) format( 'woff2' ),
         url( '../fonts/capriola-regular-webfont.woff' ) format( 'woff' ),
         url( '../fonts/capriola-regular-webfont.ttf' ) format( 'truetype' );
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$bg: #fff;
$color: #000;

::-moz-selection {

    color: $bg;
    background: $color;

}

::selection {

    color: $bg;
    background: $color;

}

html {

    font-family: 'capriola-regular-webfont', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;

    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: none;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    background-color: $bg;
    color: $color;

}

a {

    color: inherit;

}

:root {

    --sb: 0px;

}